/*
    This file is part of d-comments.

    d-comments is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    d-comments is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with d-comments.  If not, see <https://www.gnu.org/licenses/>.
*/

@use "../global.scss";

body {
  margin: 0;
  width: 400px;
  height: 580px;
  max-width: 480px;
  max-height: 580px;
  min-width: 400px;
  min-height: 580px;

  &::-webkit-scrollbar {
    display: none;
  }

  .btn {
    margin: 0px;
    overflow: hidden;
    border: #ececec 2px solid;
    border-radius: 7px;
    background-color: rgb(236 236 236);
    display: inline-block;
    color: black;
    cursor: pointer;

    &:hover {
      animation: swing 1s ease;
      animation-iteration-count: 1;
    }

    @keyframes swing {
      15% {
        transform: translateX(5px);
      }

      30% {
        transform: translateX(-5px);
      }

      50% {
        transform: translateX(3px);
      }

      80% {
        transform: translateX(2px);
      }

      90% {
        transform: translateX(1px);
      }

      100% {
        transform: translateX(0px);
      }
    }
  }

  .btn-option {
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    color: #060785;
    position: fixed;
    top: 6px;
    right: 10px;
    cursor: pointer;

    span {
      position: relative;
      transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);

      i {
        font-size: 25px;
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: 100% 100%;
      transition: transform 0.2s cubic-bezier(0.53, 0.21, 0, 1);
    }

    &:hover {
      &:before {
        transform-origin: 0 0;
        transform: scaleX(1);
      }

      span {
        color: #06856b;
      }
    }
  }

  input {
    width: 240px;
    height: 30px;
    border: #ececec 2px solid;
    border-radius: 8px;
    padding: 8px;
    margin: 0px;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(236 236 236);

    &.input-movieId {
      width: 140px;
      height: 22px;
      text-align: center;
    }
    &.input-search {
      width: 240px;
    }
    &.input-file {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  label {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 0 24px;

    p {
      margin: 12px 0px 8px 0px;
    }

    div {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .btn-text {
        padding: 10px 25px;
      }

      .btn-icon {
        padding: 10px 25px;

        i {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }

  .result {
    list-style: none;
    padding: 0;
    border-top: 2px solid rgb(187 187 187);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 340px;
    font-weight: bolder;

    :not(:last-child) {
      li {
        border-bottom: 5px solid rgb(181 181 181);
      }
    }

    li {
      background-color: rgb(248 248 248);

      &:not(:last-child) {
        border-bottom: 5px solid rgb(181 181 181);
      }

      .title {
        text-align: center;
        overflow: hidden;

        span {
          font-size: 14px;
          font-weight: bold;
          margin: 0px;
          padding: 8px 0px 0px 100%;
          display: inline-block;
          white-space: nowrap;
          line-height: 1em;
          animation: scroll 15s linear infinite;

          @keyframes scroll {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(-100%);
            }
          }
        }
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;

        img {
          width: 130px;
        }

        .info {
          margin-left: 20px;

          .owner {
            display: flex;
            white-space: nowrap;
            margin-bottom: 5px;

            img {
              width: 32px;
              height: 32px;
              margin-right: 5px;
            }
          }

          p {
            margin: auto;
          }

          font-size: 16px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .not-active {
    padding: 10px;
    display: flex;
    flex-direction: column;

    .message {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin: 80px auto;

      i {
        font-size: 32px;
        color: rgb(51 51 51);
        margin-right: 10px;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        margin: auto;
      }
    }

    .link {
      margin: 1rem auto;
      font-size: 18px;

      a {
        width: 12rem;
        padding: 10px 25px;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        color: rgb(7, 7, 43);
        i {
          font-size: 24px;
          margin-right: 5px;
        }
      }
    }
  }
}
