/*
    This file is part of d-comments.

    d-comments is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    d-comments is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with d-comments.  If not, see <https://www.gnu.org/licenses/>.
*/

@use "../global.scss";

body {
  margin: 0;
}

#root {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;

  header {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0 20px;

    span {
      text-align: center;
      margin-right: 20px;

      i {
        font-size: 32px;
        color: rgb(51 51 51);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 2em;

    .wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      .editor {
        display: flex;
        height: 3.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 0;
        border: 1px solid #ccc;
        border-radius: 5px;

        label {
          display: flex;
          flex-direction: column;
          margin: 1rem;
          font-size: 1.2rem;
          font-weight: bolder;
        }

        input[type="text"] {
          height: 1.2rem;
          border: none;
          border-radius: 0.5rem;
          padding: 0.5rem;
          margin: 0.5rem;
          font-size: 1.2rem;
          font-weight: bolder;
          background-color: rgb(236 236 236);

          &:focus {
            outline: none;
          }
        }

        input[type="number"] {
          height: 1.2rem;
          border: none;
          border-radius: 0.5rem;
          padding: 0.5rem;
          margin: 0.5rem;
          font-size: 1.2rem;
          font-weight: bolder;
          background-color: rgb(236 236 236);

          &:focus {
            outline: none;
          }
        }

        input[type="checkbox"] {
          margin-right: 2em;
          width: 2rem;
          height: 2rem;
          border: none;
          border-radius: 0.5rem;
          padding: 0.5rem;
          font-size: 1.2rem;
          font-weight: bolder;
          background-color: rgb(236 236 236);

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;

    .info {
      font-size: 14px;
      font-weight: lighter;
      margin: 2px;
    }

    .links {
      padding: 0.8em;

      .link {
        margin: 1em 1em 0;

        a {
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          color: rgb(51 51 51);

          &:hover {
            color: rgb(5, 80, 192);
          }

          span {
            font-size: 20px;
            font-weight: bolder;
          }

          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
