/*
    This file is part of d-comments.

    d-comments is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    d-comments is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with d-comments.  If not, see <https://www.gnu.org/licenses/>.
*/

@import "~@vscode/codicons/dist/codicon.css";

:root {
  box-sizing: border-box;
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
  }

  word-break: break-word;
  word-wrap: break-word;

  :any-link {
    text-decoration: none;
    color: rgb(6, 7, 133);
  }
}
